<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StateTrafficInspectorate.Properties.Settings.StateTrafficInspectorateConnectionString"
            connectionString="Data Source=DESKTOP-QJJ19PD\SQLEXPRESS;Initial Catalog=StateTrafficInspectorate;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>